In [36]:
import pandas as pd

# Python standard library imports
import time

# Third-party imports for database connection and data manipulation
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
from sklearn.ensemble import IsolationForest
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.covariance import EllipticEnvelope
from sklearn.svm import OneClassSVM
from sklearn.metrics import classification_report

In [37]:
# Database connection parameters
dbname = 'train'
user = 'narmina'
password = 'narmina7877'
host = 'localhost'  # localhost or the server address
port = '5433'  # default PostgreSQL port is 5432

# Establish a connection to the database
connection_str = f"postgresql://{user}:{password}@{host}:{port}/{dbname}"
engine = create_engine(connection_str)

In [38]:
# query shows count of abnormal rs_e_inairtemp_pc1 for each month

In [39]:
# Define the query with placeholders for parameters
query1 = f"""
SELECT count(rs_e_inairtemp_pc1), DATE_TRUNC('month', timestamps_utc) AS month_timestamp 
FROM vehicle_data 
where rs_e_inairtemp_pc1 > 65 or rs_e_inairtemp_pc1 < 0
group by DATE_TRUNC('month', timestamps_utc);
"""

# Start timing
start_time = time.time()

# Execute the query and fetch the data into a DataFrame
df1 = pd.read_sql_query(query1, engine)

# End timing
end_time = time.time()
print(f"Query took {end_time - start_time} seconds to run.")
# Close the database connection
engine.dispose()

Query took 5.425059795379639 seconds to run.

In [40]:
print(df1)

   count month_timestamp
0    536      2023-01-01
1   1360      2023-02-01
2   1013      2023-03-01
3   1677      2023-04-01
4   4234      2023-05-01
5  11853      2023-06-01
6   6095      2023-07-01
7   6305      2023-08-01
8   5832      2023-09-01

In [41]:
# query shows count of abnormal rs_e_wattemp_pc1 for each month

In [42]:
# Define the query with placeholders for parameters
query2 = f"""
SELECT count(rs_e_wattemp_pc1), DATE_TRUNC('month', timestamps_utc) AS month_timestamp 
FROM vehicle_data 
where rs_e_wattemp_pc1 > 100 or rs_e_wattemp_pc1 < 0
group by DATE_TRUNC('month', timestamps_utc);
"""

# Start timing
start_time = time.time()

# Execute the query and fetch the data into a DataFrame
df2 = pd.read_sql_query(query2, engine)

# End timing
end_time = time.time()
print(f"Query took {end_time - start_time} seconds to run.")
# Close the database connection
engine.dispose()

Query took 4.856842041015625 seconds to run.

In [43]:
print(df2)

   count month_timestamp
0     13      2023-01-01
1     27      2023-02-01
2      8      2023-03-01
3      1      2023-04-01
4    229      2023-05-01
5    430      2023-06-01
6    357      2023-07-01
7    428      2023-08-01
8     62      2023-09-01

In [44]:
# query shows count of abnormal rs_t_oiltemp_pc1 for each month

In [45]:
# Define the query with placeholders for parameters
query3 = f"""
SELECT count(rs_t_oiltemp_pc1), DATE_TRUNC('month', timestamps_utc) AS month_timestamp 
FROM vehicle_data 
where rs_t_oiltemp_pc1 > 115 or rs_t_oiltemp_pc1 < 0
group by DATE_TRUNC('month', timestamps_utc);
"""

# Start timing
start_time = time.time()

# Execute the query and fetch the data into a DataFrame
df3 = pd.read_sql_query(query3, engine)

# End timing
end_time = time.time()
print(f"Query took {end_time - start_time} seconds to run.")
# Close the database connection
engine.dispose()

Query took 4.647801637649536 seconds to run.

In [46]:
print(df3)

   count month_timestamp
0      4      2023-01-01
1     54      2023-02-01
2      2      2023-03-01
3      1      2023-06-01
4      2      2023-07-01

In [47]:
# query shows count of abnormal rs_e_rpm_pc1 when engine is shut down for each month

In [48]:
# Define the query with placeholders for parameters
query4 = f"""
SELECT count(rs_e_rpm_pc1), DATE_TRUNC('month', timestamps_utc) AS month_timestamp 
FROM vehicle_data 
where rs_e_rpm_pc1<>0 and 
((rs_e_inairtemp_pc1 > 65 or rs_e_inairtemp_pc1 <0) or 
(rs_e_wattemp_pc1 > 100 or rs_e_wattemp_pc1 < 0) or 
(rs_t_oiltemp_pc1 > 115 or rs_t_oiltemp_pc1 < 0))
group by DATE_TRUNC('month', timestamps_utc);
"""

# Start timing
start_time = time.time()

# Execute the query and fetch the data into a DataFrame
df4 = pd.read_sql_query(query4, engine)

# End timing
end_time = time.time()
print(f"Query took {end_time - start_time} seconds to run.")
# Close the database connection
engine.dispose()

Query took 4.396161079406738 seconds to run.

In [49]:
print(df4)

   count month_timestamp
0    183      2023-01-01
1    150      2023-02-01
2    156      2023-03-01
3      4      2023-04-01
4    832      2023-05-01
5    878      2023-06-01
6    447      2023-07-01
7    460      2023-08-01
8    102      2023-09-01